/*
 * Extra CSS for Moodle : CreativeCoding
 * JD : 2021
 * 07/10/21
 * 02/10/22
 * 24/09/24
 *
 */

  pre {margin-left:2em; padding-top:8px; padding-bottom:8px; padding-left:2em;}
  p {padding-top:0.5em; padding-bottom:0.5em; margin-top:0.5em; margin-bottom:0.5em; }

  .key {font-weight:bold; padding:6px; margin:2px; padding-top:2px; padding-bottom:2px; background-color:#e0e0e0; border:1px solid #c0c0c0; border-right:2px solid #909090; border-bottom:2px solid #909090; }

  .todo {margin:2em; background-color:#fffff0}

  .checkOutcomes {padding:1em; margin-left:3em}

  .focusON_orig {float:left; padding:0.75em; margin-right:1em; margin-top:0.25em;margin-bottom:1.5em;  color:#b44; background-color:#f84; text-align:right; clear:both; border-right:4px solid #b44; font-size:150%;}
  .focusON {float:right; padding:0.75em; margin-left:0; margin-top:2.5em;margin-bottom:0.5em;  color:#ddd; background-color:#6AA0CF; text-align:left; clear:both; border-left:4px solid #0070A6; font-size:125%; width:100%}
  .focusNum {font-size:200%; font-weight:bold; color:#C3E9FF;}
  .focusHash {font-size:125%; font-weight:bold; color:#C3E9FF}
  .focusON code {color:#fff;  background-color:#6AA0CF}

  .focusOFF {display:none; padding:0px; color:#229; background-color:#fff; }

  .focusLecture {display:block; padding:4px; margin:4px; background-color:#b0e0ff; border-left:4px solid #8cf; float:left}

  .figCaption {margin:1em; color:#606060; font-style:italic; font-size: 90%}

  .sig {float:right; padding-right:4em; clear:both}

  /*
   *
   * -- removing side columns ...
   */

  .unit-30-cc {margin:4px; background-color:#ffffff; padding:0.25em; border:dashed #e0e0e0 0px; clear:both; } 
  .unit-70-cc {margin:4px; background-color:#ffffff;} 
  .unit-30-cc annotation .right {float:right}
  .cc-right {float:right; padding:2px}

  .rightCol {float:right; width :40%}
  
  /*
   * -- Jo's Original : https://www.staff.city.ac.uk/~jwo/moodle/css/master.css
   */
   .aside {
    background-color: #e8f8e880;
    border-color: #bcb;
    line-height: 1.6;
  }
  .tip {
    background-color: #fafafa;
    border-color: #999;
    padding: 0.7em;
    box-shadow: 8px 8px 5px #999;
    border-radius: 12px;
    margin-bottom: 2em;
  }
  .task,
  .codeTask,
  .codeTask::before {
    background-color: #f0f8ff80;
  }
  .coreTask,
  .coreTask::before {
    background-color: #ffffe0a0;
  }
  .homework,
  .homework::before {
    background-color: #f9f9ff;
    border-color: #999;
  }
  .challenge,
  .challenge::before {  
    background-color: #fff8f8;
    border-color: #ffb0b0;
  }
  
  .codeTask::before {
    content: "{coding task} 🦜";
  }
  .coreTask::before {
    content: "CORE TASK";
  }
  .homework::before {
    content: "homework";
  }
  /* .aside::before {
    content: "aside ...";
  } */
  .challenge::before {
    content: "EXTRA CHALLENGE";
  }
  
  /* -- New Colours!
   */

  /*
  .codingTask {background-color: #d8e8f8}
  .coreTask {background-color: #f8f888}
  .challenge {background-color: #ffe8e8}
  */

  /*
  * crop image 
  */
  .imgCropBanner {
      /* Example: clip away the element from the top, right, bottom, and left edges */
    clip-path: inset(40% 0px 40% 0px);
  }
figure {display: block; margin-left: auto; margin-right: auto; width:75%; }
.coreTask figure, .codeTask figure, .aside figure { margin-right: 1em; width:auto; margin-left:1em; float:right}
.coreTask figure img, .codeTask figure img, .aside figure img {  display: block; margin-left: auto; margin-right: auto;}
figure img, figure iframe {border:dashed #e0e0e0 1px; padding:4px; margin:2px}
figcaption {text-align:center; color:#909090; padding-top:0.5em; font-size:90%; width: 200}

.figCode {float:right; margin-right: 1em; margin-left:2em; display:block; background-color: #f8fbff; border-bottom:solid #e0e0e0 1px; padding:4px}
.figCore {float:right; margin-right: 1em; margin-left:2em; display:block; background-color: #ffffea; border-bottom:solid #e0e0e0 1px; padding:4px}
.figAside {float:right; margin-right: 1em; width:24em; margin-left:2em; display:block; background-color: #f3fbf3ff; border-bottom:solid #e0e0e0 1px; padding:4px}

.figRight figure {margin-left: 1em; margin-right: 2px; width:auto;}    
.figRight {float:right; }
.figClear {clear:both}

/*
code {color:#6AA0CF; background-color:#f0f8ff}
 */
code {color:#228;background-color:#e0f0f080}


h3 {padding-top:0.25em; margin-top:1em; border-top:1px dashed #e0e0e0; clear:both}
.codeTask h5 {padding-top:0.05em; padding-bottom:0.25em; color: #606090}
.coreTask h5 {padding-top:0.05em; padding-bottom:0.25em; color: #906060}
.challenge h5 {padding-top:0.05em; padding-bottom:0.25em; color: #903030}

.challenge li {padding-top:0.5em; padding-bottom:0.5em}
.objectives li {padding-top:0.5em; padding-bottom:0.5em; background-color:#ffffff}
.summary li {padding-top:0.5em; padding-bottom:0.5em; background-color:#ffffff}

.summary {
  font-size: larger;
  font-family: 'Roboto Slab', serif;
}

.parotTalk {font-size:110%; font-weight:bold; background-color:#f09090; color:#ffffff; padding:2px; padding-left:0.25em; padding-right:0.25em; margin-right:0.5em} 

.tutorMedalB {padding:4px; padding-left:1em;padding-right:1em; background-color:#b0602040}
.tutorMedalS {padding:4px; padding-left:1em;padding-right:1em; background-color:#b0b0b060}
.tutorMedalG {padding:4px; padding-left:1em;padding-right:1em; background-color:#f0d04040}
.tutorMedalP {padding:4px; padding-left:1em;padding-right:1em; background-color:#80808010}

/*
 * right aligned figures with captions that fit!
 *
 */
.cc-right figure {display:table;}
.cc-right figure figcaption {display:table-caption;caption-side:bottom}

.hrClear {clear:both; padding:0; border:dashed #f0f0f0 1px;}
.hrInvisible {clear:both; padding:0; border:none #ffffff 0px;}

.console {background-color:#224; color:#ddf; padding:1em}

.menu {padding:0.15rem; background-color:#f0f0f0; padding-left:1.25rem;padding-right:0.75rem;font-size:80%}